<div class="footer-divider"></div>
<footer class="flex flex-auto items-center">
  <div class="flex items-center justify-between flex-auto w-full">
    <span>Copyright © 2023
      <span class="font-semibold">Board Game Directory</span>
      <span> All rights reserved.</span>
    </span>
    <div class="social-full-footer_v2">
      <a href="/" class="social-icons_footer w-inline-block">
        <img
          src="https://assets-global.website-files.com/62302b252722f9e48746eafa/63e1eca0d26a6c19b86b08cb_Facebook.svg"
          loading="lazy" alt="a" />
      </a>
      <a href="/" class="social-icons_footer w-inline-block">
        <img
          src="https://assets-global.website-files.com/62302b252722f9e48746eafa/64e44a5bd5c03d1efd4919ca_twiiter_x_pixelbin.svg"
          loading="lazy" alt="a" class="icons" />
      </a>
      <a href="/" class="social-icons_footer w-inline-block">
        <img
          src="https://assets-global.website-files.com/62302b252722f9e48746eafa/63e1ecfe77ff3724dc750410_Instagram.svg"
          loading="lazy" alt="a" class="icons" />
      </a>

      <a href="/" class="social-icons_footer w-inline-block">
        <img
          src="https://assets-global.website-files.com/62302b252722f9e48746eafa/63e1ecfedd964a6530afbe88_Linkedin.svg"
          loading="lazy" alt="a" class="icons" />
      </a>
    </div>
  </div>
</footer>
</body>

</html>