<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Board Game Directory</title>
	<link rel="stylesheet" href="/styles.css"> <!-- Link to the CSS file -->
</head>


<body>
	<header>
		<div class="flex items-center justify-between w-full">
			<div class="flex items-center gap-1">
				<img width="50px" src="/assets/logo.png" />
				<h4>Board Games Directory</h4>
			</div>

			<button class="button-2 size-xs w-fit">Add Game</button>
		</div>
	</header>