<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Board Game Directory</title>
	<link rel="icon" href="/assets/logo.png" />
	<link rel="stylesheet" href="/styles.css" />
	<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"
		type='text/css' />

</head>


<body>
	<header>
		<div class="flex items-center justify-between w-full">
			<div class="flex items-center gap-1">
				<img width="50px" src="/assets/logo.png" />
				<h4>Board Games Directory</h4>
			</div>

			<a href="/add-game" class="link">
				<button class="button-1 size-xs w-fit">Add Game</button>
			</a>
		</div>
	</header>