/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
    background-color: white;
    /* border: 1px solid #ccc; */
    position: fixed;
    top: 0;
    padding: 0px 90px;
    width: -webkit-fill-available;
    z-index: 10000;
    display: flex;
    height: 60px;
    align-items: center;
}