<%- include('../partials/header.ejs') %>

	<div class="container">
		<h1>Welcome to the Game Page</h1>
		<button id="addButton">Add Game</button>

		<div class="game-list">
			<% games.forEach(game=> { %>
				<div class="game-card">
					<h2>
						<%= game.name %>
					</h2>
					<button class="playButton">Play</button>
				</div>
				<% }); %>
		</div>
	</div>

	<%- include ('../partials/footer.ejs') %>