<%- include('../partials/header.ejs') %>

  <div class="container">
    <div class="grid grid-cols-4 gap-4">
      <% games.forEach(game=> { %>
        <div class="card">
          <div class="card-header">
            <h2>
              <%= game.name %>
            </h2>
          </div>
          <div class="card-body">
            Game
          </div>
          <div class="card-footer">
            <button class="button-2 w-full" role="button">Play</button>
          </div>

        </div>
        <% }); %>
    </div>
  </div>

  <%- include ('../partials/footer.ejs') %>